@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: .7px;
}
/* neha's css*/
/*navbar*/

.header{
    height: 10vh;
}
.header-right a{
    font-style: normal;
    font-weight: 275;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}
.logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}
.sec1{ 
    background-color: #f14f7b;
    height: 140vh;
    width: 100%;
}
.bg-img{
    background-image: url("images/Bg.jpg");
    min-height: 110vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f14f7b;
}
.quote{
    color:#ffffff;
    font-size:38px;
    font-weight: 550;
    position:absolute;
    top:450px;
    left:70px;
    width:42%;
    z-index: 2;
    right:70%;
    text-shadow: 2px 0px #8e8e8e;
    line-height: 50px;

}
.today,.terms{
    color:#f14f7b;
}
.form{
    width:450px;
    height: 750px;
    position:absolute;
    top: 180px;
    right:90px;
    margin: 50px 30px 50px 300px;
    padding:15px 20px;
    background-color: #ffffff;
    color:#8e8e8e;
    border: 1px solid rgba(142, 142, 142, 0.42);
    box-shadow: 82.0788px 57.1233px 80px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}
.head{
    text-align: center;
    color: #f14f7b;
    margin:20px;
    line-height: .8em;
    font-size: 32px;
    font-weight: 50;
} 
input{
    border: 1px solid #D0D0D0;
    border-radius: 3px;
}
input::placeholder{
    padding: 15px;
    width: 100%;
    margin: 10px;
    color: #d0d0d0;
}
#onbehalf,#phone{
    width:400px;
    margin-bottom: -6px;
    height:40px;
    margin-left: -7px;
}
#fname,#lname,#gender,#dob,#password,#confirmpassword{
     height:40px;
     margin-bottom: -6px;
     width:150px;
}

.footer1{
    color:#8e8e8e;
}
.agree{
    color: black;
}
button{
    background-color:#f14f7b;
    border-color: #ffffff;
    color:#ffffff;
    width:180px;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.footer1,button{
    text-align:center;
    box-shadow:none;
}
input#terms {
    width: 17px;
    height: 20px;
    margin: 10px;
}
.checkbox{
    align-items: center;
}
.fill{
    text-align: center;
    line-height: .1em;
    margin-bottom: 30px;
    font-size: 13px;
    top:0%;
}
fieldset{
    border: none;
}

 

.header {
overflow: hidden;
background-color: #f14f7b;
padding: 20px 10px;
}

.header a {
float: left;
color: #d0d0d0;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
color:#ffffff
}

.header a:hover {

color:white;
}
.header a.active {

color: white;
}


.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}

.header-right {
float: none;
}
.bg-img{
 background-position: right 10%;
 width: 100%;
 height: 150vh;
}
.form{
    width: 95%;
    right: 5px;
    left: 1px;
    padding: 10px;
    top: 400px;
    margin: 5px;
}
.sec1{ 
    background-color: #f14f7b;
    height: 180vh;
    width: 100%;
}
.quote{
    font-size:23px;
    top:250px;
    left:40px;
    width:80%;
    right:10%;
    line-height: 28px;
}
#onbehalf,#phone{
    width: 350px;
}
}

/*------*/

/* shifa's css */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Estonia&family=Poppins:wght@200;400&family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7px;
}
html {
	scroll-behavior: smooth;
}
.stories{
    background-color: #f14f7b;
    padding: 20px 50px 50px 50px;
}
.title{
    font-size: 3.5rem;
    letter-spacing: 1.5px;
}
.stories h1{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin: 5px;
}
.stories p{
    color: #d0d0d0;
    text-align: center;
    font-size: 22px;
    margin: 20px;
}
.stories .cards{
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.stories .cards .card{
    background-color: white;
    padding: 15px;
    width: 270px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    border: solid 1px #8e8e8e;
}
.stories .cards .card img{
    size: cover;
    display: block;
    margin: auto;
    width: 100%;
}
.stories .cards .card h3{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color: #f14f7b;
}
.stories .cards .card h5{
    font-size: 15px;
    text-align: center;
    color: #8e8e8e;
}

@media (max-width:500px){
    .stories{
        padding: 20px;
    }
    .title{
        font-size: 2.5rem;
    }
    .stories p{
        font-size: 16px;
    }
    .stories .cards .card{
        margin-bottom: 30px;
    }
}

@media (max-width:1200px){
    .stories .cards .card{
        margin-bottom: 30px;
    }
}
/* ----- */

/*sana css2*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    background-color: white;
    
}
.text1{
    margin:10px;
}
.text1 h2{
    font-size: 32px;
    color:#f14f7b;
}
.text1 p{
    color:#8e8e8e;
    font-size: 16px;
}
.card .card-img-top{
    color:#f14f7b;
}
.try{
    display: flex;
    margin: auto 50px;
    padding:20px;
    justify-content: center;
}
.cont{
  width:375px;
  height:130px;
  
  border:#8e8e8e solid 2px;
  border-radius: 10px; 
  margin:10px; 
  
}
.cont-in .icon i{
    margin-top: 10px;
    margin-left: 5px;
    margin-right:10px;
    width:62px;
    height:57px;
}
.part2 .try .cont{
    height:130px;
    width:375px;
}
.icon-text p{
    margin-bottom: 10px;
}
.icon-text h2{
    margin-bottom: 5px;
    margin-top:5px;
}
.cont .cont-in{
    display:flex;
}
.cont i{
    width: 60px;
    height:60px;
    margin-top: 10px;
    margin-bottom: 0px;
   justify-content: center;
}
.link{
    text-align: center;
    text-decoration: none;
    color:#f14f7b;
}
/*responsive*/
@media (max-width:450px) and (min-width:100px){
    body{
        width:100vw;
        height:100vh;
        margin:0px;
        padding:0px;
        
    }
    .text1{
        padding:0px;
        margin:0px;
        width:100vw;
    }
    text h2{
        width:90vw;
    }
    text p{
        font-size: 15px;
    }
    .try{
        width:100vw;
        margin:0px;
        padding:0px;
        display:inline;
    }
    .cont{
        width:70vw;
       height:auto;
        margin:auto;
       margin-bottom: 10px;
        padding:2px;
        
       
    }
    .cont h2{
        width:25vw;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .cont p{
        margin:0px;
       font-size:large;
    }
    .cont img{
        width:30px;
        height:30px;}
     .part2 .try{
        margin-bottom: 10px;
    }
    /*cards responsive for icons right align*/
    .part2 .try .cont{
        width:70vw;
        height:auto;
        
    }
    .part2 .try .cont p{
       font-size: 0.8rem;
    }

}
@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    
  }

/* ------ */
footer{
    position: relative;
    height: 72vh;
    width: 100%;
    background-color: #F14F7B;
}
footer h3{
    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
} 
footer p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Poppins';
    font-size: 1.3rem;;
    line-height: 32px;
    color: #FFFFFF;
    justify-content: left;
    margin: 20px 100px;
    margin-bottom: 60px;
}

.row{
    width: 100vw;
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.border_rg{
    border-right: 1px solid #fff;
}
.col ul{
    margin: 10px 0px;
}
 .col ul li{
    list-style: none;
    
 }
 .col ul li a{
    text-decoration: none;
    font-size: 25px;
    line-height: 42px;
    color: #FFFFFF;
 }
 .copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: #8E8E8E;
    padding: 20px;
    width: 100%;
 }
 .copy{
    color: #fff;
    font-size: 0.9rem;
    padding:0px 200px 0px 550px;
 }
 .copyright .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
 }
 .copyright .links a{
    text-decoration: none;
 }
 .copyright .links a i{
    color: #fff;
    font-size: 1.2rem;
    margin: 10px;
 }
 .border-tp{
    border-top: 0;
 }
 /* media queries */

 @media (max-width:500px){
    .text1 p {
        font-size: 0.8rem;
    }
    footer{
        height: 140vh;
    }
    footer p{
        font-size: 0.7rem;
        line-height: 20px;
        margin:20px ;
    }
    .border_rg{
        border-right: 0;
    }
    .border-tp{
        border-top: 1px solid #fff;
    }
    
    .row{
        width: 100%;
        flex-direction: column;
        
    }
    
    .col {
        width: 100%;
        height:100vh;
      
    }
    .col ul li{
        text-align: center;
    }
    .col ul li a{
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .copyright{
        flex-direction: column;
        height: 10%;
        
    }
    .copy{
        padding: 0;
    }
 }